@model Word
@{
    ViewData["Title"] = "Home Page";
}

<div>
    <h3 class="display-4">Need a New, Impfactful Word for your Resume?</h3>
    <center>
        <form asp-controller="Home" asp-action="Index">
            <table>
                <tr>
                    <td>Word: </td>
                    <td><input type="text" id="OriginalWord" name="OriginalWord" /></td>
                    <td><input type="submit" value="Submit" /></td>
                </tr>
            </table>
            <hr />
        </form>
    </center>
    @if (Model != null && Model.Synonyms != null)
    {
        <table class="table table-bordered table-striped table-sm">
            <thead>
                <tr>
                    <th>Synonyms:</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var synonym in Model.Synonyms)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => synonym)
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <p>No synonyms Found.</p>
    }
</div>

